header {
    font-family: sans-serif;
    background-color: #000;
    color: #FFF;
    width: 100%;
    height: 8vh;
    padding: 1vh;
}

header > .wrapper {
    display: flex;
}

.navigation {
    display: flex;
    margin: auto;
}

.navigation > a {
    font-size: 24px;
    border-radius: 4px;
    padding: 10px 16px;
    margin: 0 20px;
}

.navigation > a:hover {
    background-color: #222222
}


header a {
    color: #FFF
}

.logo {
    position: absolute;
    font-size: 1.5em;
    display: flex;
    align-items:
}

.logo p {
    margin: 0
}

header img {
    height: 6vh;
    margin-right: 6px
}