html,
body {
    height: 100%;
    font-family: sans-serif;
}

.out {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 60%;
    margin: auto;
}

main {
    flex: 1 1 auto;
}